[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
pytest-pspec = "*"

[dev-packages]
flake8 = "*"
black = "*"
rope = "*"
ipykernel = "*"

[requires]
python_version = "3.8"
